@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Chakra Petch', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    flex: 0 0 auto;
    text-align: center;
    background-color: #1f1f1f;
    color: #f1f1f1;
    padding: 16px;
}

footer a {
    color: #f1f1f1;
}

footer a:hover {
    color: #6e6e6e;
}

main {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 250px;
    min-height: 210px;
    background-color: #1f1f1f;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.display {
    flex: 0 0 50px;
    margin: 8px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.buttons {
    flex: 1;
    margin: 8px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 8px;
}

.operators {
    display: flex;
    gap: 8px;
    height: 20px;
    width: 236px;
}

.operators > * {
    flex: 1;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 173.5px;
}

.numbers > * {
    flex: 0 0 52.5px;
}

.numbers > *:nth-child(n+7):nth-child(-n+9) {
    order: -2;
}

.numbers > *:nth-child(n+4):nth-child(-n+6) {
    order: -1;
}

.numbers > *:nth-child(10) {
    flex: 1 0 auto;
}

.clear-or-compute {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    flex: 0 0 52.5px;
}

.clear-or-compute > *:first-child {
    flex: 1;
}

button {
    border: 2px solid #2f2f2f;
    border-radius: 4px;
    background-color: #4e4e4e;
    color: #f1f1f1;
}

button:hover {
    cursor: pointer;
    border-color: #f1f1f1;
}

button:active {
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    color: #2f2f2f;
}

.selected {
    background-color: #f1f1f1;
    border-color: #6e6e6e;
    color: #2f2f2f;
}